.div {
  width: 100%;
}
.h1 {
  font-size: 3vw;
  text-align: center;
}
.temp {
  display: flex;
  justify-content: center;
}
.temp p {
  text-align: center;
}

.button {
  margin: 4vw auto;
}
.div select {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10vw;
  cursor: pointer;
  outline: none;
  margin-bottom: 20px;
}
.return {
  color: rgb(0, 0, 0);
}
.weatherIconContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5vw;
  background-color: rgb(101, 152, 255);
}
.recherche {
  flex-direction: column;
  display: flex;

  justify-content: center;
}
.recherche input {
  font-size: 1.5vw;
  text-align: center;
  height: 3vw;
  width: 80%;
  border-radius: 10vw;
  margin: 0 auto;
}
.recherche button {
  height: 3vw;
  width: 20%;
  border-radius: 10vw;
}
#loading {
  width: 30px;
  height: 30px;
  border: radius 50%;
  background-color: #e74c3c;
  display: inline-block;
  animation: loading 1.5s infinite;
}
#loading .load1 {
  animation-delay: -0.5s;
}
#loading .load3 {
  animation-delay: -0.25s;
}
.detail h3 {
  margin-top: 7vw;
  text-align: center;
}
@keyframes loading {
  0%,
  70%,
  100% {
    transform: scale(1);
  }
  35% {
    transform: scale(0);
  }
}
.imgContainer {
  display: flex;
  justify-content: center;
}
/* Styles pour la liste des suggestions */
.suggestions {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ddd;
  max-height: 150px;
  overflow-y: auto;
}

.suggestions li {
  padding: 10px;
  cursor: pointer;
  transition: transform 0.3s ease; /* Ajoute une transition pour la mise à l'échelle */
}

.suggestions li:hover {
  transform: scale(1.05); /* Mise à l'échelle au survol */
  background-color: #f0f0f0; /* Optionnel : changer la couleur de fond au survol */
}
/* WeatherMap.module.css */
.mapContainer {
  position: relative;
  width: 100%;
  height: 500px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Empêche l'interaction avec la couche météo */
  z-index: 1000;
}
